@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family:  'Satoshi', sans-serif;;
} 
html{
  scroll-behavior: smooth;
  scroll-snap-align: start;
}
body{
  background-color: #F5F5F5;


  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

span ,p{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #navbar{
  display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
height: 60px;
font-weight: 400;
}
#header #navbar .nav_logo{
  display: flex;
  justify-content: center;
  align-items: center;
gap: 15px;
}

#header #navbar .nav_logo img{
  height: 35px;
}
#header #navbar .nav_logo h4{
font-size: 22px;
}
#header #navbar .nav-links ul{
  display: flex;
  gap: 50px;
}
#header #navbar .nav-links ul li{
  list-style: none;
}
#header #navbar .nav-links ul li a

{
  text-decoration: none;
  color: black;
}


#header #navbar  .nav-button button{
  background-color: #000000;
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor:pointer;
  color: white;
  box-shadow: 8px 8px 0px 0px rgba(204, 204, 204, 0.774);
}
#header #navbar .nav-links ul li:nth-child(1) a{
  color: #000000;
}

#hero{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 800px;
}
#hero .hero{
  height: 80%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
#hero .hero .hero_heading{
  width: 50%;
  text-align: center;
  line-height: 70px;
}
#hero .hero .hero_heading h1{
  font-size: 40px;
  font-weight:600;
}
#hero .hero .hero_heading h1 span{
  display: inline;
background-color: #000000;
color: white;
padding: 10px;
border-radius: 50px;
}
#hero .hero .hero-button {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}
#hero .hero .hero-button button{
  margin: 10px;
  height: 45px;
  width: 120px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  cursor: pointer;
 
}

#hero .hero .hero-button button:nth-child(1){
  background-color:  #000000;
  box-shadow: 0px 3px 0px 0px #000000 ;
  color: white;
}


#hero .hero .hero-button a{
  background-color:  rgba(204, 204, 204, 0.774);
  /* box-shadow: 0px 3px 0px 0px #000000 ; */
  color: white;
  text-decoration: none;
  margin: 10px;
  height: 45px;
  width: 120px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
#hero .hero .hero-button a:hover{
  background-color:  #000000;
  box-shadow: 0px 3px 0px 0px #000000 ;
  color: white;
}
#hero .hero .hero-button button:hover{
  background-color:  #000000;
  box-shadow: 0px 3px 0px 0px #000000 ;
  color: white;
}
.card1{
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: start;
  padding: 20px;
  width: 250px;
  gap: 10px;
  height: 300px;
  /* background-color:#d19719; */
}
.card1-content{
  position: relative;
  height: 100px;
  width:80%;
  /* border: 2px solid blueviolet; */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1-heading{
  background-color: #0000002a;
  padding: 10px;
  border-radius: 50px;
}
.card1-heading h2{

  font-size:18px;
}
.card1-content .img:nth-child(1){
  left: 15px;
}
.card1-content .img:nth-child(2){
  left: 39px;
}
.card1-content .img:nth-child(3){
  left: 60px;
}
.card1-content .img:nth-child(4){
  left: 80px;
}
.card1-content .img:nth-child(5){
  left: 100px;
}
.card1-content .img{
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #000000;
}
.card1-content img{
  /* position: absolute; */
  height: 40px;
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
}
/* .card1-content .img:nth-child(1){
left: 100px;
} */
.card1-content .img div{
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50px;
} 

.card1-content div span{
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
}



.hero-cards{
  display: flex;
  /* gap: 50px; */
  justify-content: space-around;
  align-items: start;
  width: 90%;
  /* gap: 100px; */
}
.card2{
height: 400px;
width: 400px;
display: flex;
flex-direction: column;
justify-content:    start;
align-items: center;
/* background-color: #7755ff; */
}
.card2 .card2-imgs{
  position: relative;
  width:100%;
  height: 300px;
/* background-color: #1a1918; */
display: flex;
justify-content: center;
align-items: center;
}
.card2-imgs div{
  position: absolute;
}
.card2-imgs .card2-imgss{
  background-color: #0000006e;
  width: 105%;
  height: 200px;
  border-radius: 30px;

}
.card2-img{
  height: 230px;
  background-color: #000000;
  width: 100%;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card2-img img{
  position: absolute;
  height: 200px;
  bottom: 0;
}
.card-btn{
  width: 80%;
  height: 110px;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  /* gap: 70px; */
}
.card-btn button {
  margin: 10px;
  border: none;
  height: 45px;
  width: 130px;
  background-color:  #000000;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.card-section{
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  /* background-color: #d19719; */

}
.card-section img{
  height: 20px;
  width: 20px;
  object-fit: contain;
  
}
.section1{
  position: relative;
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
  /* width: 30%; */
gap: 10px;
}
.section2{
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
  /* width: 30%; */
gap: 10px;
}








.card3{
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card3 .card3-heading{
  background-color: black;
  height: 70px;
  width: 80%;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* font-size: 10px; */
}

.card3 .card3-heading h2{
  font-size: 30px;
  font-weight: bold;
  color:white;
  width: 20px;
}
.card3 .card3-heading h1{
  font-size: 15px;
color: white;
width: 90px;
text-align: start;
}

#rating{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 2px 2px 10px 10px rgb(223, 223, 223);
}
.rating-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 90%;

}
.rating-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rating-card h2{
  color: #000000;
}
.rating-card span{
  font-size: 17px;
}







#about{
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.about{
  height: 80%;
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-img div{
  position: absolute;
}
.about .about-img{
  position: relative;
  height: 440px;
  width: 440px;
/* background-color: #d19719; */
display: flex;
justify-content: center;
align-items: center;
}

.about .about-content{
  width: 45%;

}

.about .about-img .about-img1{
  height: 350px;
  width: 300px;
  background-color: #f1f1f1;
  top: 50px;
  right: 0;
  border-radius: 30px;
}

.about .about-img .about-img2{
  height: 350px;
width: 300px;
background-color:  #000000;
border-radius: 30px;
left: 90px;
top: 80px;
display: flex;
justify-content: center;
align-items: center;
/* position: relative; */
}

.about .about-img .about-img2 img{
height: 320px;
width: 300px;
position: absolute;
bottom: 0;
object-fit: contain;
}
.about-content .about-heading span {
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
}
.about-content .about-heading h2{
  color:black;
  font-size: 40px;
}

.about .about-content .about-section p{
  color: black;
  margin-top: 15px;
  font-size: 14px;
}
.about .about-content .about-btn{
  margin-top: 20px;
}
.about .about-content .about-btn button{
  height: 50px;
  width: 130px;
  border-radius: 10px;
  background-color:black;
  color:white;
  border: none;
  cursor: pointer;
}




#skills{
  height:600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  /* background-color: #7755ff; */
  height: 90%;
  gap:10%;
}

.skills-heading{
  text-align: center;
width: 70%;
}
.skills-heading h1{
  font-size: 35px;
  margin-bottom: 20px;
}
.skills-content{
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60%;

}
.skills-content-section-1 .skills-content-section-1-heading{
  height: 60px;
}

.skills-content-section-2 .skills-content-section-2-heading{
  height: 60px;
}

.skills-content-section1-card{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 440px;
  /* background-color: #d19719; */
  padding: 5px;
}
.skills-content-section1-card  .skills-content-section1-li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.skills-content-section1-card  .skills-content-section1-li span{
  font-size: 18px;
}
.skills-content-section1-card  .skills-content-section1-li .skills-content-section1-para h2{
  font-size: 18px;
}
.skills-content-section-2-card .skills-content-section-2-li{
  display: flex;
  height: 100px;
  
  
  align-items: center;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.skills-content-section-2-card .skills-content-section-2-li h2{
  font-size: 20px;
  margin-left: 10px;
}
.skills-content-section-2-card .skills-content-section-2-li img{
  height: 40px;
  width: 40px;
  object-fit: contain;
}
#services{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
}
.services{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .services-heading{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services .services-heading h2{
  font-size: 35px;
  font-weight: 500;
}

.services .services-heading p{
  color: black;
}
.services-content{
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.services-card{
  height: 300px;
  width: 99%;
  background-color: black;
  border-radius: 10px;
  /* border:; */
}
.services-outer-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 303px;
  width: 30%;

  border-radius: 10px;
  
}

.services-outer-card:hover{
  box-shadow: 0px 0px 10px 5px #797979;
  background: none;
  border: none;
}

.services-outer-card .services-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.services-outer-card .services-card .services-card-img {
  margin-bottom: 40px;
}
.services-outer-card .services-card .services-card-img  img{
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.services-outer-card .services-card .card-services-text h2{
font-size: 19px;
margin-bottom: 10px;
color: white;
}
.services-outer-card .services-card .card-services-text{
  width: 200px;
}
.services-outer-card .services-card .card-services-text  span{
color: white;
  font-size: 12px;
}










#portfolio{
  height:700px;
  width: 100%;
  display: flex
  ;
  justify-content: center;
  align-items: center;
}
.portfolio{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.portfolio-heading{
  display: flex;

flex-direction: column;
width: 60%;
gap: 20px;

h2{
      font-size: 35px;
      font-weight: 600;
  }
  span{
      font-size: 15px;

  }
}
.portfolio-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio-card{
  height: 400px;
  width: 30%;
  border-radius: 10px;
  /* background-color: #7755ff; */
position: relative;
background:url(https://miro.medium.com/v2/resize:fit:626/1*r57Rfnk2-rSSb32tpFRtFw.jpeg);
object-fit: contain;
background-size: cover;
background-repeat: no-repeat;
}
.portfolio-card:nth-child(2){
  background: url(https://s3-alpha.figma.com/hub/file/1981793211/6de104c5-c22c-4a17-a787-bf5ef6338007-cover.png);
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-card:nth-child(3){
  background: url(https://s3-alpha.figma.com/hub/file/4673872725/0be63266-3d5b-4b4c-ad8a-94e96e052560-cover.png);
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-card-heading{
  position: absolute;
  bottom: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: white;
  gap: 15px;
}

#testimonal{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonal{
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonal-card{
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px 1px rgb(211, 211, 211);
}
.testimonal-card .testimonal-card-1 {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.testimonal-card .testimonal-card-1  .testimonal-first-card{
  display: flex;
  flex-direction: column;
  gap: 30px;
 


}
.testimonal-card .testimonal-card-1  .testimonal-first-card span{
  font-size: 14px;
}
.testimonal-card .testimonal-card-1  .testimonal-second-card{
  display: flex;
  align-items: center;
  gap: 30px;
}

.testimonal-card .testimonal-card-1  .testimonal-second-card .img img{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.testimonal-card .testimonal-card-1  .testimonal-second-card .text{
  h2{
      font-size: 18px;
  }
  span{
      font-size: 13px;
  }
}

.testimonal-card-2{
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 14%;
  justify-content: space-between;
  align-items: center;
  button{
      width: 50px;
      height: 50px;
      border-radius: 100px;
border: none;
font-size: 17px;
color: white;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
  }
}
.testimonal-card-2 button:nth-child(1){
  background-color: #000000;
}
.testimonal-card-2 button:nth-child(2){
 background: rgba(204, 204, 204, 0.774)
}
.testimonal-card-2 button:hover{
  background-color: #000000;
}






#blogs{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.blogs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
width: 80%;
}
.blog-heading{
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
h2{
  font-size: 35px;
}
p{
  font-size: 17px;
}
}
.blog-content{
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-cards{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.blog-card{
  height: 360px;
  width: 300px;
  background: white;
  box-shadow: 0px 0px 5px 5px rgba(204, 204, 204, 0.774);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;
}
.blog-card:hover{
  box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.493);
}
.blog-card .blog-img img{
  width: 100%;
  border-radius: 8px;
}
.blog-card .blog-text{
  margin: 20px 0;
  padding: 0 5px;
span{
  font-size: 18px;
  color:gray;
}
}
.blog-card .blog-text p{
  margin-top: 10px;
  text-align: start;
  font-size: 14px;
}
.blog-card .blog-button{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-bottom: 30px;
}
.blog-card .blog-button button{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #000000;
  border: none;
  font-size:13px;
  cursor: pointer;
  color: white;
}



#footer{
  height: 500px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;align-items: center;
}
.footer{
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.footer-card{
height: 200px;
width: 70%;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
box-shadow: 0px 0px 20px 10px rgb(204, 204, 204);
color: #000000;
font-size: 20px;
}
.footer-card1{
  width: 70%;
 display: flex;
 justify-content: center;
 align-items: center; 
}
.footer-card1 ul{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.footer-card1 ul li{
  list-style: none;
}
.footer-card1 ul li a{
  text-decoration: none;
  color: black;
}
.footer-card1 ul li:nth-child(1) a{
color:black;
}
.footer-card2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

button{
  font-size: 17px;
}